
/* Variables */

:root {
  --btn-square-size: var(--size-6);
}

/* Default styles */

.btn {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-width: var(--btn-square-size);
  min-height: var(--btn-square-size);
  margin: var(--size-1);
  padding: var(--size-1) var(--size-2);
  background-color: var(--gray-4);
  color: var(--gray-1);
  border: none;
  border-radius: var(--radius-smooth);
  box-shadow: none;
  transition: 150ms ease-in-out;
}

.btn:hover,
.btn:focus {
  outline: none;
  background-color: var(--gray-3);
}

/* Icon */

.btn i[class^="flaticon-"] {
  display: inline-flex;
  justify-content: center;
}

/* Shape (corners) */

.btn--circle {
  border-radius: var(--radius-max);
}

/* Background color */

.btn--transparent {
  background-color: transparent;
}

.btn--transparent:hover,
.btn--transparent:focus {
  background-color: hsla(0, 0%, 100%, 0.25);
}

/* Font color */

.btn--color-font {
  color: var(--font-color);
}

.btn--color-dark {
  color: var(--black);
}