
/* Variables */

:root {
  --btn-square-size: var(--size-6);
}

/* Default styling */

.btn {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-width: var(--btn-square-size);
  min-height: var(--btn-square-size);
  margin: var(--size-1);
  padding: var(--size-1) var(--size-2);
  background-color: var(--gray-4);
  color: var(--gray-1);
  border: none;
  border-radius: var(--radius-smooth);
  box-shadow: none;
  transition: 150ms ease-in-out;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  outline: none;
  background-color: var(--gray-3);
}

/* Shape (corners) */

.btn--circle {
  border-radius: var(--radius-max);
}

/* Background color */

.btn--success {
  background-color: var(--success-5);
}

.btn--success:hover,
.btn--success:focus {
  background-color: var(--success-4);
}

.btn--light {
  background-color: var(--gray-1);
  color: var(--font-color);
}

.btn--light:hover,
.btn--light:focus {
  background-color: var(--gray-2);
}

.btn--transparent {
  background-color: transparent;
}

.btn--transparent:hover,
.btn--transparent:focus {
  background-color: hsla(0, 0%, 100%, 0.25);
}

/* Font color */

.btn--color-font {
  color: var(--font-color);
}

.btn--color-dark {
  color: var(--black);
}

/* Icon */

.btn__icon[class*="flaticon-"] {
  font-size: 1.6rem;
  display: inline-flex;
  justify-content: center;
}

/* Tag */

.btn__tag {
  padding: calc(var(--size-1) / 2) var(--size-2);
  font-size: var(--size-3);
  background-color: var(--gray-2);
  color: var(--font-color);
  border-radius: var(--radius-max);
}

.btn__tag--post {
  margin-left: var(--size-2);
}