
@import "variables.css";
@import "reset.css";
@import "btn.css";

/* Styling */

.app {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  min-height: var(--size-7);
  padding: 0 var(--size-4) 0 var(--size-3);
  background-color: var(--gray-6);
}

.header__board-name {
  margin-right: auto;
  color: white;
}