
.input__box {
  position: relative;
}

.input__box--search {
  display: flex;
  align-items: center;
}

.input {
  min-width: var(--btn-square-size);
  min-height: var(--btn-square-size);
  margin: var(--size-1);
  padding: var(--size-2);
  padding-right: var(--size-6);
  background-color: var(--gray-4);
  color: var(--gray-1);
  border: none;
  border-radius: var(--radius-smooth);
  box-shadow: none;
}

.input:hover,
.input:focus {
  outline: none;
}

.input__icon--search {
  position: absolute;
  right: var(--size-3);
  color: var(--gray-1);
}