
.header {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.header--mobile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  min-height: var(--size-7);
  padding: 0 var(--size-4) 0 var(--size-3);
  background-color: var(--gray-6);
}

.header--tablet {
  display: none;
}

.header__board-name {
  margin-right: auto;
  color: white;
}


@media only screen and (min-width: 576px) {

  .header--mobile { display: none; }

  .header--tablet {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
  }

  .header__top-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: var(--size-1);
    background-color: hsla(0, 0%, 0%, 0.2);
  }

  .header__home-btn { display: none; }
  .header__news-btn { display: none; }

  .header__search {
    margin-right: auto;
  }

  .header__logo { display: none; }

  .header__account-btn {
    padding: 0;
    width: var(--btn-square-size);
    height: var(--btn-square-size);
    overflow: hidden;
  }
}

@media only screen and (min-width: 768px) {

  .header__home-btn { display: flex; }

  .header__search {
    margin-right: 0;
  }

  .header__logo {
    display: flex;
    margin: 0 auto;
  }
}