
.header {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.header--mobile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  min-height: var(--size-7);
  padding: 0 var(--size-4) 0 var(--size-3);
  background-color: var(--gray-6);
}

.header--tablet {
  display: none;
}

.header__board-name {
  margin-right: auto;
  color: white;
}

/* screen size: sm */

@media only screen and (min-width: 576px) {

  .header--mobile { display: none; }

  .header--tablet {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
  }

  .header__row--top {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: var(--size-1);
    background-color: hsla(0, 0%, 40%, 0.5);
  }

  .header__home-btn { display: none; }
  .header__news-btn { display: none; }

  .header__search {
    margin-right: auto;
  }

  .header__logo { display: none; }

  .header__account-btn {
    padding: 0;
    width: var(--btn-square-size);
    height: var(--btn-square-size);
    overflow: hidden;
  }

  .header__row--bottom {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    padding: var(--size-1);
    background-color: hsla(0, 0%, 80%, 0.4);
  }

  .header__board-name--md {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--gray-8);
  }

  .header__separator {
    width: 1px;
    height: var(--size-5);
    margin: 0 var(--size-1);
    background-color: var(--gray-3);
  }

  .header__btn--invite {
    margin-right: auto;
  }

  .header__btn--lg {
    display: none;
  }
}

/* screen size: md */

@media only screen and (min-width: 768px) {

  .header__home-btn { display: flex; }

  .header__search {
    margin-right: 0;
  }

  .header__news-btn {
    display: flex;
    margin-right: auto;
  }
}

/* screen size: lg */

@media only screen and (min-width: 992px) {
  
  .header__logo {
    display: flex;
    margin: 0 auto;
  }

  .header__news-btn {
    margin-right: 0;
  }

  .header__btn--lg {
    display: flex;
  }
}

/* screen size: xl */

@media only screen and (min-width: 1200px) {

  .header__row--top {
    justify-content: center;
    align-items: center;
  }

  .header__logo {
    margin: 0;
    position: absolute;
  }

  .header__news-btn {
    margin-right: auto;
  }
}