
/* Reset */

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}


/* Project-related styles */

:root {
  --primary-1: hsl(202, 100%, 98%);
  --primary-2: hsl(202, 95%, 93%);
  --primary-3: hsl(202, 93%, 84%);
  --primary-4: hsl(202, 91%, 68%);
  --primary-5: hsl(202, 90%, 50%);
  --primary-6: hsl(202, 93%, 33%);
  --primary-7: hsl(202, 95%, 25%);
  --primary-8: hsl(202, 92%, 16%);
  --primary-9: hsl(202, 100%, 10%);
  --secondary-1: hsl(284, 100%, 98%);
  --secondary-2: hsl(284, 95%, 95%);
  --secondary-3: hsl(284, 90%, 87%);
  --secondary-4: hsl(284, 85%, 74%);
  --secondary-5: hsl(284, 80%, 80%);
  --secondary-6: hsl(284, 85%, 41%);
  --secondary-7: hsl(284, 90%, 30%);
  --secondary-8: hsl(284, 97%, 17%);
  --secondary-9: hsl(284, 100%, 8%);
  --danger-1: hsl(0, 100%, 98%);
  --danger-2: hsl(0, 90%, 93%);
  --danger-3: hsl(0, 80%, 82%);
  --danger-4: hsl(0, 75%, 65%);
  --danger-5: hsl(0, 70%, 55%);
  --danger-6: hsl(0, 75%, 39%);
  --danger-7: hsl(0, 80%, 25%);
  --danger-8: hsl(0, 90%, 15%);
  --danger-9: hsl(0, 100%, 8%);
  --success-1: hsl(133, 100%, 96%);
  --success-2: hsl(133, 90%, 90%);
  --success-3: hsl(133, 80%, 73%);
  --success-4: hsl(133, 70%, 56%);
  --success-5: hsl(133, 65%, 40%);
  --success-6: hsl(133, 75%, 26%);
  --success-7: hsl(133, 80%, 15%);
  --success-8: hsl(133, 90%, 9%);
  --success-9: hsl(133, 100%, 4%);
  --warning-1: hsl(65, 100%, 94%);
  --warning-2: hsl(65, 100%, 82%);
  --warning-3: hsl(65, 100%, 68%);
  --warning-4: hsl(65, 100%, 46%);
  --warning-5: hsl(65, 100%, 38%);
  --warning-6: hsl(65, 100%, 26%);
  --warning-7: hsl(65, 100%, 17%);
  --warning-8: hsl(65, 100%, 9%);
  --warning-9: hsl(65, 100%, 4%);
  --gray-1: hsl(0, 0%, 96%);
  --gray-2: hsl(0, 0%, 90%);
  --gray-3: hsl(0, 0%, 78%);
  --gray-4: hsl(0, 0%, 62%);
  --gray-5: hsl(0, 0%, 50%);
  --gray-6: hsl(0, 0%, 37%);
  --gray-7: hsl(0, 0%, 27%);
  --gray-8: hsl(0, 0%, 16%);
  --gray-9: hsl(0, 0%, 10%);
}